.footer {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 13px;
    padding: 25px 50px;
    margin-top: 80px;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
    display: inline-block;
    vertical-align: top;
}


/* Footer Left */

.footer .footer-left {
    width: 30%;
}


/* Footer Links */

.footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-links a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

.footer-app-title {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
}


/* Footer Center */

.footer .footer-center {
    width: 40%;
}

.footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    text-align: center;
    margin: 5px 15px;
    vertical-align: middle;
}

.footer-center i.fa-envelope {
    font-size: 19px;
    line-height: 35px;
}

.footer-center .address-info {
    display: inline-flex;
    color: #ffffff;
    align-items: center;
}

.footer-center .address-info .address-details {
    display: block;
    font-weight: normal;
}

.address-info .address-details:after {
    content: "\00a0"; /* space */
}

.footer-center .address-info a {
    color: #5383d3;
    text-decoration: none;
}


/* Footer Right */

.footer .footer-right {
    width: 25%;
}

.footer-right .footer-about {
    font-size: 13px;
    color: #92999f;
    font-weight: normal;
}

.footer-right .footer-about .special-text {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
}

.footer-right .footer-icons {
    margin-top: 20px;
}

.footer-right .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 20px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    color: #ffffff;
    text-align: center;
    margin-right: 5px;
}

@media (max-width: 880px) {
    .footer .footer-left,
    .footer .footer-center,
    .footer .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 30px;
        text-align: center;
    }

    .footer .footer-center i {
        margin-left: 0;
    }
}

@media (max-width: 800px) {
    #footer {
        position: static;
    }
}
