IndexIgnore *

<IfModule mod_rewrite.c>
	RewriteEngine On
	
	RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule api/(.*)$ api.php?x=$1 [QSA,NC,L]

	#RewriteCond %{REQUEST_FILENAME} -s
	#RewriteRule api/(.*)$ api.php [QSA,NC,L]
	
	# RewriteCond %{REQUEST_FILENAME} !-f
	# RewriteRule ^([^\.]+)$ $1.php [NC,L]
    
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME}\.php -f
    RewriteRule ^(.*)$ $1.php [L]
</IfModule>