<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <title>Reset Password</title>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/main.css" rel="stylesheet"/>
</head>

<body>
<div id="content">
    <div id="main-content">
        <form action="reset_password" class="form-horizontal" method="post">
            <div class="form-group">
                <input class="form-control" name="password" placeholder="Password" required="required" type="password"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="confirm_password" placeholder="Confirm Password" required="required" type="password"/>
            </div>
            <input name="id" type="hidden" value="<?php echo $id;?>"/>
            <div class="form-group">
                <input class="btn btn-success form-control" type="submit"/>
            </div>
        </form>
    </div>
</div>
</body>

</html>
