<div class="modal fade" id="confirmbox">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="confirm-title">Confirm </h4>
            </div>
            <div class="modal-body clearfix">
                <div class="pull-right">
                    <button class="btn btn-default" data-dismiss="modal" id="cancel-btn" type="button">Cancel</button>
                    <button class="btn btn-primary" data-dismiss="modal" id="ok-btn" type="button">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>
