<div class="footer" id="footer">
    <link href="css/footer.css" property="stylesheet" rel="stylesheet" type="text/css"/>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" property="stylesheet" rel="stylesheet" type="text/css"/>
    <div class="footer-left">
        <h3 class="app-title">Tutor<span class="app-title-special">Me</span></h3>
        <p class="footer-links">
            <a href="index">Home</a> ·
            <a href="about">About</a> ·
            <a href="faq">FAQ</a> ·
            <a href="contact">Contact</a>
        </p>
        <p class="footer-app-title">TUTORME &copy; 2015</p>
    </div>
    <div class="footer-center">
        <div>
            <i class="fa fa-map-marker"></i>
            <p class="address-info"><span class="address-details">Hamra </span> Beirut, Lebanon</p>
        </div>
        <div>
            <i class="fa fa-phone"></i>
            <p class="address-info"><a href="tel:+96171121744">+961 71 121744</a></p>
        </div>
        <div>
            <i class="fa fa-envelope"></i>
            <p class="address-info"><a href="mailto:support@tutorme.com">support@tutorme.com</a></p>
        </div>
    </div>
    <div class="footer-right">
        <p class="footer-about">
            <span class="special-text">About TutorMe</span> TutorMe is a web app for every ambitious student to excel at their exams!
        </p>
        <div class="footer-icons">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-github"></i></a>
        </div>
    </div>
</div>
