<form action="reset_password.php" id="reset-password-form" method="post">
    <input class="form-control" id="user-email" name="user_email" placeholder="Email Address" required="required" type="email"/>
    <br/>
    <p id="invalid-err"></p>
    <!-- <label>Security Question:</label>
    <select id="security-question" name="security_question" class="form-control" size="1" required="required">
        <option value="What is your favorite football team?">What is your favorite football team?</option>
        <option value="What is your mother\'s maiden name?">What is your mother\'s maiden name?</option>
        <option value="Where is your secret place?">Where is your secret place?</option>
        <option value="What is your good luck number?">What is your good luck number?</option>
    </select>
    <br />
    <label>Answer:</label>
    <input type="text" name="security_answer" class="form-control" required="required" /> -->
</form>
