<div class="list-group-item clearfix">
    <h4 class="list-group-item-heading"><a href="tutor_schedule?tutor_id={{info.tutor_id}}" title="View Schedule">{{info.first_name}} {{info.last_name}}</a><small class="pull-right" style="margin-left: 25px"><a
            href="send_msg?id={{info.tutor_id}}">Send Message</a></small></h4>
    <div class="list-group-item-text">
        Email: <a href="mailto:{{info.email}}">{{info.email}}</a> &emsp; Phone Number: <a href="tel:{{info.phone_number}}">{{info.phone_number}}</a> &emsp; Fare: ${{info.fare}}/hr
    </div>
</div>
